html, body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

.one {
    border: thin solid red;
}

.header, .hero {
    background-color: #1F2937;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.header {
    border: medium solid purple;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    padding: 16px 200px;
    display: flex;
    justify-content: space-between;
}

.header-links {
    border: thin solid red;
    display: flex;
    gap: 32px;
}

.hero {
    border: thin solid red;
    display: flex;
    justify-content: space-around;
    padding: 100px 200px;
}

.hero-left {
    border: thin solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

.hero-text {
    font-size: 48px;
    font-weight: 700;
}

.hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.hero-image {
   
}

.img-container {
    border: thin solid red;
    display: flex;
    align-items: center;
    text-align: center;
}

.button {
    background-color: #3882F6;
    border: none;
    color: #F9FAF8;
    padding: 8px 32px;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
}